:root{
    --dark-violet-color: hsl(256, 26%, 20%);
    --grayish-blue-color: hsl(216, 30%, 68%);
    --very-dark-violet: hsl(270, 9%, 17%);
    --dark-grayish-violet: hsl(273, 4%, 51%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white-color: #fff;
    --main-font: 'Karla';
    --detail-font: 'DM Serif Display';
}

body, html {
    height: 100%;
    font-family: var(--main-font) !important;
}
.block-scroll {
    height: 100%;
    overflow: hidden;
}

.image-mobile,
.image-desktop,
.menu-desktop,
.menu-mobile,
.menu-mobile-buttons,
.close-menu-mobile{
    display: none;
}

.active{
    display: block;
}

.menu{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.menu img{
    height: 100%;
}
.menu button{
    background-color: unset;
    border: 1px solid var(--very-dark-violet);
    padding: 1px 7px 2px 7px;
    width: 30px;
}
.menu ul li,
.menu-mobile ul li{
    list-style: none;
}
.menu ul li a, 
.menu-mobile ul li a{
    border: 2px solid;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
}
.menu-mobile .menu-mobile-options{
    background-color: var(--very-dark-violet);
    background-image: url("assets/bg-pattern-mobile-nav.svg");
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    height: 94vh;
    left: 0;
    padding: 15px;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 1;
}
.menu-mobile .menu-mobile-options a{
    color: #fff;
    display: block;
    border-color: var(--very-dark-violet);
    font-size: 18px;
    width: 100%;
    margin-bottom: 2px;
}
.menu-mobile .menu-mobile-options a:hover{
    border-color: var(--very-light-gray);
}

/*--- BANNER ---*/
hr{
    display: none;
}
.banner{
    background-color: var(--dark-violet-color);
}
.banner .banner-content{
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    z-index: 9;
}
.banner .banner-img,
.banner .banner-text{
    padding: 0;
}
.banner .banner-img .image-mobile{
    width: 100%;
    height: auto;
}
.banner .banner-text{
    background: url("assets/bg-pattern-intro-left-mobile.svg") no-repeat left top;
    color: var(--white-color);
    text-align: center;
    padding: 80px 20px;
}
.banner .banner-text h1, 
.banner .banner-text p{
    margin: auto;
    max-width: 300px;
}
.banner .banner-text h1{
    font-family: var(--detail-font);
    line-height: 40px;
    margin-bottom: 15px;
}
.banner .banner-text p{
    font-size: 15px;
}
.banner .banner-text button{
    border: 2px solid var(--white-color);
    background-color: unset;
    color: var(--white-color);
    cursor: pointer;
    margin-top: 30px;
    padding: 5px 25px;
    text-transform: uppercase;
}
.banner-bg-image{
    background: url("assets//bg-pattern-intro-right-mobile.svg") no-repeat right bottom;
    height: 330px;
    margin-top: -150px;
    position: absolute;
    width: 100%;
}
/*====================
------ DESKTOP -------
=====================*/

@media (min-width: 992px){
    header{
        background-color: var(--white-color);
        position: relative;
        z-index: 999;
    }
    .menu{
        padding: 25px 0;
        z-index: 1;
    }
    .menu-desktop .menu-desktop-options{
        display: flex;
    }
    .menu-desktop .menu-desktop-options a{
        border-color: var(--white-color);
        color: var(--dark-violet-color);
        font-weight: 400;
        margin-left: 2px;
        padding: 10px 25px;
    }
    .menu-desktop .menu-desktop-options a:hover{
        border-color: var(--dark-violet-color);
    }
    /*--- BANNER ---*/
    .banner{
        color: var(--white-color);
        height: 600px;
        left: 0;
        position: absolute;
        width: 100%;
    }
    .banner .banner-content{
        flex-direction: row;
        height: 100%;
        padding: 0;
    }
    .banner div{
        margin: auto;
        display: flex;
    }
    .banner .banner-img img{
        position: absolute;
    }
    .banner .banner-text{
        background-image: unset;
        display: flex;
        flex-direction: column;
        margin: auto;
        text-align: left;
    }
    .banner .banner-text hr{
        border: 1px solid var(--grayish-blue-color);
        display: block;
        margin: -15px 0 70px 0;
        width: 100px;
    }
    .banner .banner-text h1, 
    .banner .banner-text p{
        margin: 0;
        max-width: none;
    }
    .banner .banner-text h1{
        font-size: 70px;
        line-height: 65px;
        margin-bottom: 30px;
    }
    .banner .banner-text button{
        width: max-content;
    }
    .banner .banner-img{
        margin: 108px 0 0 0;
    }
    .banner-bg-image{
        background: url("assets/bg-pattern-intro-left-desktop.svg") no-repeat left bottom;
        left: 0;
        height: 505px;
        margin: -200px 0 0 0 !important;
        width: 195px;
    }
    .banner-bg-image-desk{
        background: url("assets/bg-pattern-intro-right-desktop.svg") no-repeat right top;
        position: absolute;
        height: 600px;
        top: -80px;
        right: 0;
        width: 440px;
        z-index: 99;
    }
}