
body{
    font-family: 'Open Sans', sans-serif !important;
    font-size: 18px;
}

.container-fluid{
    background-image: url("assets/bg-hero-desktop.svg");
    background-size: cover;
    background-color: hsl(193, 100%, 96%);
    padding-bottom: 50px;
}

.header .header-top{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 30px 0 80px 0;
}

.header .header-top img{
    width: 140px;
    height: 100%;
}

.header .header-top button{
    background-color: #fff;
    border-radius: 50px;
    border: none;
    box-shadow: 0px 0px 10px hsl(193, 100%, 96%);
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    padding: 5px 25px;
    text-transform: capitalize;
}


.header .header-content{
    align-items: center;
    display: flex;
    text-align: center;
}
.header .header-content .header-content-text {
    padding-bottom: 50px;
}
.header .header-content .header-content-text h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 27px;
    line-height: 40px;
    text-transform: capitalize;
}
.header .header-content .header-content-text p{
    padding: 10px 0 15px 0;
}
.header .header-content .header-content-text button{
    background-color: hsl(322, 100%, 66%);
    border: none;
    border-radius: 50px;
    color: #fff;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    padding: 10px 55px;
    text-transform: capitalize;    
}

.header .header-content .header-content-img img{
    width: 100%;
}

.cards .card{
    margin: 50px 0;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 0px 10px #dfdfdf;
    padding: 50px 30px;
    text-align: center;
}
.cards .card .card-img img{
    width: 100%;
}
.cards .card .card-text{
    margin-top: 55px;
}
.cards .card .card-text h1{
    font-size: 22px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 15px;
}
.cards .card .card-text p{
    color: #8e9196;
    font-size: 14.72px;
}

footer{
    background-color:  hsl(192, 100%, 9%);
    color: #fff;
    padding-bottom: 30px;
    position: relative;
    margin-top: 180px;
}
footer .ready-box{
    position: absolute;
    top: -110px;
    width: 100%;
    z-index: 999;
}
footer .ready-box div{
    background-color: #fff;
    box-shadow: 0px 0px 3px #dfdfdf;
    border-radius: 15px;
    font-family: 'Poppins', sans-serif;
    margin: auto;
    padding: 35px 20px;
    text-transform: capitalize;
    text-align: center;
    width: max-content;
}
footer .ready-box p{
    color: #000;
    font-weight: bold;
    font-size: 19px;
}
footer .ready-box button{
    background-color: hsl(322, 100%, 66%);
    border: none;
    border-radius: 50px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin-top: 15px;
    padding: 10px 55px;
    text-transform: capitalize;   
}
footer .container{
    padding-top: 130px;
}
footer img{
    filter: grayscale(100%) brightness(10);
    height: 30px;
    margin-bottom: 20px;
    padding-left: 15px;
}
footer .block.info{
    padding-bottom: 20px;
}
footer .block.info div{
    display: flex;
    margin-bottom: 20px;
}
footer .block.info i{
    height: max-content;
    margin: auto 20px auto 0;
}
footer .block.info .locate i{
    margin-top: 5px;
}
footer .block.links{
    display: flex;
    flex-direction: column;
}
footer .block.links a{
    margin-bottom: 15px;
}
footer .block .icons{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
}
footer .block .icons i{
    align-items: center;
    border: 1px solid #fff;
    border-radius: 50px;
    display: flex;
    margin-right: 15px;
    height: 35px;
    width: 35px;
}
footer .block .icons i::before{
    margin: auto;
}
footer .copyright{
    font-size: 12px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
@media (min-width: 992px){
    .header .header-top{
        padding: 50px 0 80px 0;
    }
    .header .header-top img{
        width: auto;
    }
    .header .header-top button{
        padding: 10px 60px;
    }
    .header .header-content .header-content-text{
        text-align: left;
    }
    .header .header-content .header-content-text h1{
        font-size: 2.5rem;
        line-height: 50px;
    }
    .header .header-content .header-content-text p{
        padding: 10px 0 15px 0;
    }
    .header .header-content .header-content-text button{
        padding: 15px 65px;
    }
    .header .header-content .header-content-img img{
        width: 100%;
    }

    .cards .card{
        display: flex;
        flex-direction: row;
        text-align: left;
    }
    .cards .card .card-text{
        align-self: center;
        color: hsl(192, 100%, 9%);
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0 90px;
    }
    .cards .card:nth-child(odd){
        flex-direction: row-reverse;  
    }

    footer img{
        margin-bottom: 40px;
    }
    footer .ready-box div{
        padding: 35px 85px;
    }
    footer .ready-box p{
        font-size: 25px;
    }

    footer .footer-content{
        display: flex;;
    }
    footer .block.info .locate{
        padding-right: 45px;
    }
    footer .icon-copyright{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    footer .block .icons{
        margin: 0;
        justify-content: start;
    }
    footer .copyright{
        font-size: 10px;
        text-align: left;
    }
}